@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');
* {
    font-family: oswald;
    font-size: 14px;    
}

nav {
    font-family: sans-serif;
    font-size: 10px;
}

#main {
    width: 900px;
    margin: 10px auto;
}

h1 {
    font-family: bungee inline;
    font-size: 46px;
    font-weight: lighter;
}

#menu {
    columns: 420px 2;
    column-gap: 60px;
}

section {
    margin-bottom: 20px;
    padding: 10px;
}

h2 {
    margin-top: 0;
    text-transform: uppercase;
}

dt {
    display: inline;
    font: bold;
    font-size: 16px;
    hanging-punctuation: last;
}

dt::after {
    content: ",";
}

dd {
    display: inline;
    margin: 0;
}

dd::after {
    content: " ";
    display: block;
    clear: both;
    margin-bottom: 15px;
}

.price {
    float: right;
    padding: 0 0 35px 20px;
}

footer {
    text-align: right;
}

#starters {
    border: solid 2px black;
}

#desserts {
    border: solid 2px black;
}